* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Exo 2", sans-serif;
    min-height: 100vh;
    background-image: url(../images/layered-steps-haikei.svg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    max-width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);
    padding: 15px;
    border-radius: 10px;
    overflow: hidden;
}
.container form {
    padding: 5px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
}
.container form label {
    font-size: 24px;
    color: #fff;
    padding-bottom: 18px;
    font-weight: bold;
}
input {
    width: 100%;
    background-color: rgba(0, 0, 0, .2);
    backdrop-filter: blur(30px);
    color: #242424;
    padding: .22rem .7rem;
    height: 45px;
    min-height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    line-height: 1.15;
    box-shadow: 0px 10px 20px -18px;
    color: #fff;
    font-size: 18px;
    transition: all .2s;
  }
  input::placeholder {
    color: #b8b8b8;
  }
  input:focus {
    border-bottom: 2px solid #7b7ee2;
    border-radius: 4px 4px 2px 2px;
  }
  input:hover {
    outline: 1px solid rgba(119, 119, 119, 0.64);
  }
#generate {
    align-items: center;
    background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    color: #ffffff;
    display: flex;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.3s;
  }
  #generate:active,
  #generate:hover {
    outline: 0;
  }
  #generate span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }
  #generate:hover span {
    background: none;
  }
  #generate:active {
    transform: scale(0.9);
  }
  .img-box {
    width: 200px;
    max-height: 0;
    border-radius: 5px;
    overflow: hidden;
    transition: all .7s;
    background-color: rgba(0, 0, 0, .2);
    backdrop-filter: blur(20px);
  }
  .img-box img {
    width: 100%;
    padding: 10px;
  }
  .img-box.show {
    max-height: 300px;
    margin: 10px auto;
    border: 1px solid #d1d1d1;
  }
.button {
    --width: 100px;
    --height: 35px;
    --tooltip-height: 35px;
    --tooltip-width: 90px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: #1163ff;
    --tooltip-color: #fff;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    cursor: pointer;
    position: relative;
    top: 50px;
    text-align: center;
    border-radius: 0.45em;
    font-family: "Arial";
    transition: background 0.3s, top .2s .4s;
  }
  .button::before {
    position: absolute;
    content: attr(data-tooltip);
    width: var(--tooltip-width);
    height: var(--tooltip-height);
    background-color: var(--tooltip-color);
    font-size: 0.9rem;
    color: #111;
    border-radius: .25em;
    line-height: var(--tooltip-height);
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
    left: calc(50% - var(--tooltip-width) / 2);
  }
  .button::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: var(--tooltip-color);
    left: calc(50% - 10px);
    bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
  }
  .button::after,.button::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }
  .txt {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button-wrapper,.txt,.icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
  }
  .txt {
    top: 0
  }
  .txt,.icon {
    transition: top 0.5s;
  }
  .icon {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon svg {
    width: 24px;
    height: 24px;
  }
  .button:hover {
    background: #6c18ff;
  }
  .button:hover .txt {
    top: -100%;
  }
  .button:hover .icon {
    top: 0;
  }
  .button:hover:before,.button:hover:after {
    opacity: 1;
    visibility: visible;
  }
  .button:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
  }
  .button:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
  }
  .errorMsg {
    display: none;
    margin-top: -12px;
    margin-left: -60px;
    gap: 7px;
    width: 80%;
    background-color: rgba(218, 39, 39, 0.287);
    color: red;
    font-weight: bold;
    border-radius: 7px;
    border-top-left-radius: 0;
    padding: 6px;
    transition: all .2s;
  }
  .error {
    animation: shake .2s linear 5;
  }

  @keyframes shake {
    0%{
        transform: translateX(0px);
    }
    25%{
        transform: translateX(3px);
    }
    50%{
        transform: translateX(0px);
    }
    75%{
        transform: translateX(-3px);
    }
    100%{
        transform: translateX(0px);
    }
  }